$RNV_FONT_SIZE: 14px;

$RNB_DEVICE_S: 768px;
$RNB_DEVICE_M: 992px;
$RNB_DEVICE_L: 1200px;
$RNB_DEVICE_XL: 1920px;

$RNB_DEVICE_RESOLUTIONS: $RNB_DEVICE_S, $RNB_DEVICE_M, $RNB_DEVICE_L,
  $RNB_DEVICE_XL;

$RNB_CONTAINER_PADDING_LEFT: 10px;
$RNB_CONTAINER_PADDING_RIGHT: 10px;
$RNB_CONTAINER_PADDING: 0 $RNB_CONTAINER_PADDING_LEFT 0
  $RNB_CONTAINER_PADDING_RIGHT;

$RNB_CONTAINER_MARGIN_LEFT: 0;
$RNB_CONTAINER_MARGIN_RIGHT: 0;
$RNB_CONTAINER_MARGIN_TOP: 0;
$RNB_CONTAINER_MARGIN_BOTTOM: 0;
$RNB_CONTAINER_MARGIN: 0 $RNB_CONTAINER_MARGIN_LEFT 0
  $RNB_CONTAINER_MARGIN_RIGHT;

$RNB_CONTAINER_MARGIN_WIDTH: $RNB_CONTAINER_MARGIN_LEFT +
  $RNB_CONTAINER_MARGIN_RIGHT;
$RNB_CONTAINER_PADDING_WIDTH: $RNB_CONTAINER_PADDING_LEFT +
  $RNB_CONTAINER_PADDING_RIGHT;
