$RNB_DEFAULT_PADDING: 10px;

$RNB_DEVICE_S: 768px;
$RNB_DEVICE_M: 992px;
$RNB_DEVICE_L: 1200px;
$RNB_DEVICE_XL: 1920px;

$RNB_DEFAULT_CONTAINER_MARGIN: 0 auto;
$RNB_DEFAULT_CONTAINER_PADDING: $RNB_DEFAULT_PADDING;
