@mixin rnb-container-header() {
  display: flex;
  flex-direction: row;
}

@mixin rnb-container-content($include: false) {
  @if($include) {
    @include rnb-container();
  }
}

@mixin rnb-container-footer() {
  display: flex;
  flex-direction: row;
}

@mixin rnb-container($direction: column, $include: false) {
  & {
    display: flex;
    flex-direction: $direction;
    margin: $RNB_DEFAULT_CONTAINER_MARGIN;
    padding: $RNB_DEFAULT_CONTAINER_PADDING;

    & > header.rnb-header {
      @include rnb-container-header();
    }

    & > div.rnb-content,
    & > section.rnb-content {
      @include rnb-container-content($include);
    }

    & > footer.rnb-footer {
      @include rnb-container-footer();
    }
  }
}

@mixin rnb-input-field() {}

@mixin rnb-select-field() {}

@mixin rnb-form() {}
