@function calcContainerWidth($width) {
  @return ($width - $RNB_CONTAINER_MARGIN_WIDTH - $RNB_CONTAINER_PADDING_WIDTH);
}

@mixin rnb-margin-middle($width: 100%) {
  width: $width;
  margin: $RNB_CONTAINER_MARGIN_TOP auto $RNB_CONTAINER_MARGIN_BOTTOM auto;
}

@mixin rnb-ellipsis {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

@mixin rnb-triangle {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent transparent #b25c9c;
  border-width: 0 1rem 1rem;
  content: "";
}

@mixin rnb-container(
  $direction: column,
  $flex: 0,
  $justify: unset,
  $align: baseline
) {
  display: flex;
  flex-direction: $direction;
  flex: $flex;
  justify-content: $justify;
  align-items: $align;
  margin: $RNB_CONTAINER_MARGIN;
  padding: $RNB_CONTAINER_PADDING;
  max-width: calcContainerWidth($RNB_DEVICE_S);

  :root {
    @each $resolution in $RNB_DEVICE_RESOLUTIONS {
      @media screen and (max-width: $resolution) {
        & {
          max-width: calcContainerWidth($resolution);
        }
      }
    }
  }
}

@mixin rnb-font-size($width) {
  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
  }

  h1 {
    font-size: $width + $width * 0.6;
    line-height: $width + $width * 0.6;
  }

  h2 {
    font-size: $width + $width * 0.4;
    line-height: $width + $width * 0.4;
  }

  h3 {
    font-size: $width + $width * 0.2;
    line-height: $width + $width * 0.2;
  }

  h4,
  p,
  li,
  label,
  span {
    font-size: $width;
    line-height: $width;
  }
}
